/* ~/.config/wofi/style.css */

/* Определяем переменные CSS для палитры Catppuccin Mocha */
@define-color base   rgba(30, 30, 46, 0.85); /* Прозрачность 85% */
@define-color mantle rgba(24, 24, 37, 0.85);
@define-color crust  rgba(18, 18, 27, 0.9);

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color overlay0 #6c7086;

@define-color rosewater #f5e0dc;
@define-color flamingo  #f2cdcd;
@define-color pink      #f5c2e7;
@define-color mauve     #cba6f7;
@define-color red       #f38ba8;
@define-color maroon    #eba0ac;
@define-color peach     #fab387;
@define-color yellow    #f9e2af;
@define-color green     #a6e3a1;
@define-color teal      #94e2d5;
@define-color sky       #89dceb;
@define-color sapphire  #74c7ec;
@define-color blue      #89b4fa;
@define-color lavender  #b4befe;


window {
    background-color: @base;
    border-radius: 15px; /* Скругленные углы */
    padding: 10px;
    /* Установка ширины окна, чтобы оно вмещало 3 колонки */
    width: 600px; 
}

#input {
    background-color: @mantle;
    color: @text;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 5px;
}

#outer-box {
    padding: 5px;
}

#scroll {
    /* Дополнительные стили для области прокрутки */
}

entry {
    padding: 5px;
    border-radius: 8px;
    color: @subtext0;
    margin: 2px; /* Небольшой отступ между элементами */
}

entry:selected {
    background-color: @blue; /* Цвет выделенного элемента */
    color: @crust; /* Цвет текста выделенного элемента */
}

image {
    margin-right: 10px;
}

